*{
    box-sizing: border-box;
}

#out{
    margin-top: 30px;
    height: auto;
    text-align: center;
}


.btn{
    margin-top: 10px;
}


.pass{

    margin:5px;
}

.btn.clipboard{
    margin-top: 0;
}




